*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*venv


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Pytype
.pytype/

# Pytest
.pytest_cache/

# Translations
*.mo
*.pot

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# VS Code
.vscode/

# PyCharm
.idea/
*.iml

# Mac OS
.DS_Store

# Backup files
*~
*.bak
*.swp
*.swo

# Reports and artifacts
*.pdf
*.log
logs/
tmp/
temp/
*.tmp

# Fonts or resources
*.ttf
resources/

# Local environment variables or secrets
.env
.env.*

# SQLite or other database files
*.sqlite3
*.db
*.db-journal

# Other
!.gitignore
